<!-- app/views/referral_mailer/refer_email.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have been referred!</h1>
    <p>Someone has referred you to our awesome service. Use the referral code <strong><%= @referral_code %></strong> when signing up.</p>
    <p>Check it out <a href="https://grind-pound-ecom.web.app/">here</a>.</p>
  </body>
</html>
