// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import 'activeadmin/quill_editor/quill.snow';
@import 'activeadmin/quill_editor_input';

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
.status-tag {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    display: inline-block;
    margin-right: 5px;
   }

/* Style for all fields in the attributes table */
.attributes_table th, .attributes_table td {
    min-width: 150px; /* Adjust as needed */
    padding: 10px;
    border: 2px solid #ddd;
    text-align: left;
   }
   
   /* Optional: Style for the header cells */
   .attributes_table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
   }
      
   .attributes_table tr:hover {
    background-color: #f5f5f5;
   }
